 <header class="hero-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 text-start">
                    <div class="text-center slide-in">
                        <img src="assets/parohia-belfast-v2-705x705-1.png" alt="Church Logo" class="hero-logo mb-3">
                    </div>
                    <h1 class="display-4 slide-in">The Entry of the Most Holy Theotokos into the Temple</h1>
                    <p class="lead slide-in">Orthodox Church in Northern Ireland (OCNI) – Belfast.</p>
                    <p class="mt-4 fs-4 fw-bold slide-in">
                        According to Holy Tradition, the Entry of the Most Holy Theotokos into the Temple took place in the following manner. 
                        The parents of the Virgin Mary, Saints Joachim and Anna, praying for an end to their childlessness, vowed that if a child 
                        were born to them, they would dedicate it to the service of God.
                    </p>
                    <a href="churches" class="btn btn-primary btn-lg mt-3 slide-in">Explore Churches</a>
                </div>
            </div>
        </div>
    </header>
    
<div class="container" style="margin-top: 70px;">
    <div class="col">
        <p>
            After entrusting their child to the Heavenly Father, Joachim and Anna returned home. The All-Holy Virgin remained in the quarters for virgins near the Temple. According to the testimony of Holy Scripture (Exodus 38; 1 Kings 1: 28; Luke 2: 37), and also the historian Josephus Flavius, there were many living quarters around the Temple, in which those who were dedicated to the service of God dwelt.
        </p>
        <p>
            The earthly life of the Most Holy Theotokos from Her infancy until She was taken up to Heaven is shrouded in deep mystery. Her life at the Jerusalem Temple was also a secret. “If anyone were to ask me,” said Saint Jerome, “how the Most Holy Virgin spent the time of Her youth, I would answer that that is known to God Himself and the Archangel Gabriel, Her constant guardian.”
        </p>
        <p>
            But there are accounts in Church Tradition, that during the All-Pure Virgin’s stay at the Temple, She grew up in a community of pious virgins, diligently read the Holy Scripture, occupied Herself with handicrafts, prayed constantly, and grew in love for God. From ancient times, the Church has celebrated the Feast of the Entry of the Most Holy Theotokos into the Temple. Indications that the Feast was observed in the first centuries of Christianity are found in the traditions of Palestinian Christians, which say that the holy Empress Helen (May 21) built a church in honor of the Entry of the Most Holy Theotokos into the Temple.
        </p>
        <p>
            Saint Gregory of Nyssa, in the fourth century, also mentions this Feast. In the eighth century Saints Germanus and Tarasius, Patriarchs of Constantinople, delivered sermons on the Feast of the Entry.
        </p>
        <p>
            The Feast of the Entry of the Most Holy Theotokos into the Temple foretells God’s blessing for the human race, the preaching of salvation, the promise of the coming of Christ.
        </p>
        <p class="fw-bold text-center mt-4">
            The Parish holds weekly Liturgical Services (Every Sunday)<br>
            10:30 AM<br>
            The Holy and Divine Liturgy
        </p>
    </div>
</div>

<section class="container my-5">
    <div class="d-flex align-items-center justify-content-between p-3 rounded shadow" 
         style="background-color: rgb(207,144,49); color: #333; border: 2px solid rgb(216, 40, 40);">
        <div>
            <auth-button class="btn btn-primary"></auth-button>
        </div>
        <div class="user-profile">
            <user-profile></user-profile>
        </div>
    </div>
</section>

    <footer class="bg-dark text-white text-center py-3">
        <p>© 2024 Church Directory. All rights reserved.</p>
        <p>
            <a href="#"class="text-white">© 2009 - 2024 - The Entry of the Most Holy Theotokos into the Temple | Orthodox Diocese of United Kingdom and Northern Ireland | Romanian Orthodox Metropolis of Western and Southern Europe

            </a>
        </p>
    </footer>
