<div class="navbar navbar-expand-sm bg-danger navbar-dark fixed-top">
    <span class="navbar-brand">Church Directory |</span>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/churches']">Churches</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/parish']">Parish</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/directions']">Directions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/resources']">Resources</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/orthodoxfaith']">Orthodox Faith</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contact']">Contact</a>
        </li>
    </ul>
    <div class="form-inline ms-auto" style="margin-right: 10px">
    </div>
</div>
