<header class="hero-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 text-start">
                <div class="text-center slide-in">
                    <img src="assets/parohia-belfast-v2-705x705-1.png" alt="Church Logo" class="hero-logo mb-3">
                </div>
                <h1 class="display-4 slide-in">The Entry of the Most Holy Theotokos into the Temple</h1>
                <p class="lead slide-in">Orthodox Church in Northern Ireland (OCNI) – Belfast.</p>
                <p class="mt-4 fs-4 fw-bold slide-in">
                    Here are some recommended Orthodox resources:
                    <br><br>
                    <a 
                        href="https://www.amazon.co.uk/Divine-Liturgy-Chrysostom-Romanian-English/dp/1872897185/ref=sr_1_2?crid=2DMY9BM65CGI0&dib=eyJ2IjoiMSJ9.P-YoDW7g6s5-fCzCdBsDUkkTzgacxvkaAgMy5NtV5h3mmq4K5sztguZqdbhkuWwj2s9PLDY2F2rCdRZmRPx4M-qJIG01PFQzRuU4wbV6lPAm8CTrUO_3V2M_-zDCuU1-4tGtGXOMFXoBl-sRwhoP0xz6hoVJnFkQD5HGF6L9eZy8nxOmE3yqCOD1StRNJP03xfKAHsFrmn4IFWzudSm-zQsSM0AQnn4Aearl3dzaQL4.p3cBG3MxR61yRZYfG7yJf4qaX2ZM-9iLlhBdvZwzfMM&dib_tag=se&keywords=the+divine+liturgy+of+st.+john+chrysostom&nsdOptOutParam=true&qid=1733244858&sprefix=liturgy+of+st%2Caps%2C90&sr=8-2"
                        target="_blank" 
                        class="btn btn-link"
                    >
                        The Divine Liturgy of St. John Chrysostom (Romanian-English)
                    </a>
                    <br>
                    <a 
                        href="https://www.amazon.co.uk/Orthodox-Study-Bible-OE-Some-NKJV/dp/0718003594/ref=sr_1_1?crid=NWNG2917UPTJ&dib=eyJ2IjoiMSJ9.Bxj7FafNChiaZ12MVKYrdR7GKW1CahPytn95842vTKHTQH2gPzHVxTVsDXA9TkHyhiadtIebS__Or4cFrP0G78Q1cTbP2pkz5Zn37nPreNGy6TRG18YWlCDXxC6z1sAEkBYgIgFX3ccZwulIz9O_0nVvg1WmFqCfMQfUm5cC0SbvgA3shWby2CF6SxtZ7pb9IotBv8g1jJQPY0LrgaPf3jFFoLbF5xNsdn1rGVZc5TU.glZ-tLhMhja-H-zUO6zS5qCI8tz_5KU1uV6GNt96sSw&dib_tag=se&keywords=orthodox+study+bible&nsdOptOutParam=true&qid=1733244877&sprefix=ortho%2Caps%2C81&sr=8-1"
                        target="_blank" 
                        class="btn btn-link"
                    >
                        The Orthodox Study Bible (NKJV)
                    </a>
                    <br>
                    <a 
                        href="https://www.amazon.co.uk/Longer-Catechism-Eastern-Orthodox-Church/dp/B08J5HHWX9/ref=sr_1_1?crid=21E2OGYPZLQ1W&dib=eyJ2IjoiMSJ9.tpy5KVgzwwEQOD1CgbMEdVWOe_Nbw6AiWSex8Rm5O1BmsFMVhwJJeKSL3oKbORBom41UIQR0JoP7pIQRw9l5o0zoJ9JYkENevQ7jZfYC6v7VYooLH53pYzZySmfZ7FhVYNWhnBfo_vBfFfCpXHU7fNiEwGzT4yQe1RpzpOcawSw0tayK8OCI_xDEzxkqMHXq2rAL9RCSgkqC0qXHOeRoj4ZO_ufTddbXt7XjHcDKnG4.MRGXl-i2WJbpsOe6s89FDh3WymBprFWfS0I4IRKsbvc&dib_tag=se&keywords=orthodox+catechism&nsdOptOutParam=true&qid=1733244894&sprefix=orthodox+cat%2Caps%2C92&sr=8-1"
                        target="_blank" 
                        class="btn btn-link"
                    >
                        The Longer Catechism of the Eastern Orthodox Church
                    </a>
                </p>
                
                <a href="churches" class="btn btn-primary btn-lg mt-3 slide-in">Explore Churches</a>
            </div>
        </div>
    </div>
</header>

<footer class="bg-dark text-white text-center py-3">
    <p>© 2024 Church Directory. All rights reserved.</p>
    <p>
        <a href="#"class="text-white">© 2009 - 2024 - The Entry of the Most Holy Theotokos into the Temple | Orthodox Diocese of United Kingdom and Northern Ireland | Romanian Orthodox Metropolis of Western and Southern Europe

        </a>
    </p>
</footer>